<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoda Chatbot</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="h-screen bg-green-900 text-white p-10 flex flex-col justify-between">
        <header class="flex-none">
            <h1 class="text-3xl font-bold text-center">Yoda Chatbot</h1>
        </header>

        <main class="container mx-auto shadow-2xl max-w-3xl my-10 flex-grow overflow-hidden">
        </main>

        <footer class="text-center mx-auto flex-none">
            developed by 🙋‍♂️
            <a href="https://matx.dev" class="font-bold hover:underline">
                matheus teixeira
            </a>
        </footer>
    </div>
</body>

</html>